@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* outline: 1px solid red; */
}
:root {
  /* --foreground-rgba: 255 255 255 1; */
  /* --background: 16 10 22 1; */
  --ease-fast: all 0.15s ease-in-out;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --foreground-rgba: 255 255 255 1; */
    /* --background-rgba: 16 10 22 1; */
    --ease-fast: all 0.15s ease-in-out;
  }
}

@layer utilities {
  .pad-top {
    @apply pt-[calc(80px+2rem)] md:pt-[calc(80px+4rem)];
  }
}

body {
  /* color: rgba(var(--foreground-rgba)); */
  /* background: rgba(var(--background-rgba)); */
}

@layer base {
  h1 {
    @apply mb-0 text-6xl leading-normal gradient-text;
  }
  h2 {
    @apply mb-8 text-5xl leading-normal gradient-text;
  }
  h3 {
    @apply mb-0 text-4xl leading-snug gradient-text;
  }
  h4 {
    @apply mb-0 text-3xl leading-tight gradient-text;
  }
  /* etc. */
  header,
  section,
  footer {
    @apply p-4 md:p-8;
  }
  section {
    @apply max-w-screen-xl;
    margin: 0 auto;
  }
}

/* Gradient Background Classes */
.bg-gradient {
  background-image: url(/gradient_main.png);
  background-position: center;
  background-size: cover;
}

.bg-gradient-button {
  background-image: url(/gradient_button.png);
  background-position: center;
  background-size: cover;
}

.overlay {
  position: relative;
  background-image: url('/gradient_main.png'); /* Replace with your image path */
  background-size: cover;
}

.overlay::before {
  @apply bg-af-dark;
  opacity: 0.3;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.overlay > * {
  position: relative;
  z-index: 2; /* Child sits on top of the overlay */
}

/* overlay classes */
.has-overlay {
  position: relative;
}

.has-overlay::before {
  @apply bg-af-dark;
  opacity: 0.2;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

/* a vertical gradient that fade from dark to light that sits above the overlay and below the children */
.has-overlay::after {
  @apply bg-gradient-to-b from-af-dark from-0% to-transparent to-40%;
  opacity: 0.5;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2; /* Sit behind the overlay */
}

.has-overlay > * {
  position: relative;
  z-index: 3; /* Child sits on top of the overlay */
  @apply text-white;
}

/* .project-page * {
  @apply w-full;
} */

.project-page h2,
.project-page h3,
.project-page h4,
.project-page h5,
.project-page h6 {
  @apply mx-auto w-full max-w-[960px] px-8 text-left lg:px-0;
}

.project-page p {
  @apply mx-auto w-full max-w-[960px] px-8 lg:px-0;
}

.project-page > h2 {
  @apply w-full text-center font-handwriting gradient-text;
}
.project-page > h3 {
  background-clip: unset;
  background-image: none;
  @apply mb-8 font-heading text-white;
  -webkit-text-fill-color: unset;
}

.project-page > h4 {
  background-clip: unset;
  background-image: none;
  @apply font-heading text-2xl text-white;
  -webkit-text-fill-color: unset;
}

.project-page p,
.project-page ul {
  @apply font-body text-white;
}

.project-page .project-progress {
  @apply mx-auto w-full max-w-[616px] py-32;
}

.project-page h2 {
  @apply text-7xl;
}

.project-page p {
  @apply mb-4 max-w-[960px];
}
.project-page img {
  @apply max-w-full;
}
