@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --foreground-rgba: 255 255 255 1; */
  /* --background: 16 10 22 1; */
  --ease-fast: all 0.15s ease-in-out;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --foreground-rgba: 255 255 255 1; */
    /* --background-rgba: 16 10 22 1; */
    --ease-fast: all 0.15s ease-in-out;
  }
}

body {
  /* color: rgba(var(--foreground-rgba)); */
  /* background: rgba(var(--background-rgba)); */
}

@layer base {
  h1 {
    @apply mb-0 text-6xl leading-normal gradient-text;
  }
  h2 {
    @apply mb-8 text-6xl leading-normal gradient-text;
  }
  h3 {
    @apply mb-0 text-5xl leading-snug gradient-text;
  }
  h4 {
    @apply mb-0 text-3xl leading-tight gradient-text;
  }
  /* etc. */
  header,
  section,
  footer {
    @apply p-4 md:p-8;
  }
}

/* Gradient Border Classes */
.gradient-border-wrapper {
  position: relative;
  border: 8px solid transparent;
}

.gradient-border-wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-image: url(/gradient_main.png);
  background-size: cover;
  padding: 1px;
  border-radius: inherit;
  margin: -1px;
}

.gradient-border-wrapper::after {
  @apply bg-af-dark;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  border-radius: inherit;
}

.gradient-border-wrapper > * {
  position: relative;
  z-index: 3;
}

/* Gradient Background Classes */
.bg-gradient {
  background-image: url(/gradient_main.png);
  background-position: center;
  background-size: cover;
}
