@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --foreground-rgba: 255 255 255 1; */
  /* --background: 16 10 22 1; */
  --ease-fast: all 0.15s ease-in-out;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --foreground-rgba: 255 255 255 1; */
    /* --background-rgba: 16 10 22 1; */
    --ease-fast: all 0.15s ease-in-out;
  }
}

body {
  /* color: rgba(var(--foreground-rgba)); */
  /* background: rgba(var(--background-rgba)); */
}

@layer base {
  h1 {
    @apply mb-0 text-6xl leading-normal gradient-text;
  }
  h2 {
    @apply mb-8 text-6xl leading-normal gradient-text;
  }
  h3 {
    @apply mb-0 text-5xl leading-snug gradient-text;
  }
  h4 {
    @apply mb-0 text-3xl leading-tight gradient-text;
  }
  /* etc. */
  header,
  section,
  footer {
    @apply p-4 md:p-8;
  }
  header,
  section {
    @apply max-w-screen-xl;
    margin: 0 auto;
  }
}

/* Gradient Background Classes */
.bg-gradient {
  background-image: url(/gradient_main.png);
  background-position: center;
  background-size: cover;
}

.bg-gradient-button {
  background-image: url(/gradient_button.png);
  background-position: center;
  background-size: cover;
}

.overlay {
  position: relative;
  background-image: url('/gradient_main.png'); /* Replace with your image path */
  background-size: cover;
}

.overlay::before {
  @apply bg-af-dark;
  opacity: 0.3;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.overlay > * {
  position: relative;
  z-index: 2; /* Child sits on top of the overlay */
}
